﻿@page
@model CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>League</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label class="control-label" asp-for="League.LongName"></label>
                <input class="form-control" asp-for="League.LongName" />
                <span class="text-danger" asp-validation-for="League.LongName"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="League.ShortName"></label>
                <input class="form-control" asp-for="League.ShortName" />
                <span class="text-danger" asp-validation-for="League.ShortName"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="League.FirstSeasonId"></label>
                <input class="form-control" asp-for="League.FirstSeasonId" />
                <span class="text-danger" asp-validation-for="League.FirstSeasonId"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="League.LastSeasonId"></label>
                <input class="form-control" asp-for="League.LastSeasonId" />
                <span class="text-danger" asp-validation-for="League.LastSeasonId"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
