﻿@page "{id:int}"
@model DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>League</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.League.LongName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.League.LongName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.League.ShortName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.League.ShortName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.League.FirstSeasonId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.League.FirstSeasonId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.League.LastSeasonId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.League.LastSeasonId)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="League.ID" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a class="btn btn-primary" asp-page="Index">Cancel</a>
    </form>
</div>
