﻿@page "{id:int}"
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>League</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.League.LongName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.League.LongName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.League.ShortName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.League.ShortName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.League.FirstSeasonId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.League.FirstSeasonId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.League.LastSeasonId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.League.LastSeasonId)
        </dd>
    </dl>
</div>
<div>
    <p>
        <a class="btn btn-primary" asp-page="Edit" asp-route-id="@Model.League.ID">Edit</a>
    </p>
    <p>
        <a asp-page="Index">Back to List</a>
    </p>
</div>
