﻿@page "{id:int}"
@model EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>League</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="League.ID" />
            <div class="form-group">
                <label asp-for="League.LongName" class="control-label"></label>
                <input asp-for="League.LongName" class="form-control" />
                <span asp-validation-for="League.LongName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="League.ShortName" class="control-label"></label>
                <input asp-for="League.ShortName" class="form-control" />
                <span asp-validation-for="League.ShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="League.FirstSeasonId" class="control-label"></label>
                <input asp-for="League.FirstSeasonId" class="form-control" />
                <span asp-validation-for="League.FirstSeasonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="League.LastSeasonId" class="control-label"></label>
                <input asp-for="League.LastSeasonId" class="form-control" />
                <span asp-validation-for="League.LastSeasonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
